{% extends 'layout.html' %}

{% block body %}
{% with messages = get_flashed_messages() %}
         {% if messages %}
               {% for message in messages %}
                    <div class="alert alert-success text-center" id="success">{{message}}</div>
               {% endfor %}
         {% endif %}
{% endwith %}
<div class="container">


    <div class="row">
      <div class="col">
          <a class="btn btn-danger mt-4 " href="/logout">Log Out</a>
        <div class="card mt-4">
          <div class="card-body">
            <h4 class="card-title text-center">My Notes</h4>
            <h5> Number of notes : {{ number }}</h5>
            <a class="btn btn-success" id="add_new_note"href="/create">Add New Note</a>
            {% for note in notes %}
              <div class="card mt-3">
                <div class="card-header">
                  <div class="row">
                    <div class="col"><strong>{{note[1]}}</strong></div>
                    <div class="col text-right">
                      <a class="btn btn-primary" href="/edit?title={{note[1]}}&note={{note[2]}}&_id={{note[0]}}">Update</a>
                      <a class="btn btn-danger" href="/delete/{{note[0]}}">Delete</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  {{note[2][0:500]}}
                  <a href="/note/{{note[0]}}">... show more</a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
